<nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="contacts" routerLinkActive="active" class="nav-link">Contact List</a>
        </li>
        <li class="nav-item">
          <a routerLink="create-contact" routerLinkActive="active" class="nav-link">Add Contact</a>
        </li>
      </ul>
</nav>  
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class = "container">
    <span>Copyrights @ Thilak</span>
  </div>
</footer>